.bodyIndexHtml {
    background-color: azure;
}

.navBar {
    display: flex;
    background-color: grey;
    border-radius: 30px;
    flex-direction: row;
}

.navBar ul{
    display: flex;
}

.navBar li {
    margin: 0px 10px;
    list-style: none;
    
}

.title {
    display: flex;
    background-image: url(img/encourageCodeBlur.png);
    background-size: contain;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.title h1 {
    color: white;
}