.bodyIndexHtml {
    background-color: azure;
}

.navBar {
    display: flex;
    background-color: grey;
    border-radius: 30px;
    flex-direction: row;
}

.navBar ul{
    display: flex;
}

.navBar li {
    margin: 0px 10px;
    list-style: none;
    
}