body {
    background-color: azure;
}

.guide {
    margin-left: 10px;
}

.center {
    position: static;
}

.navBar {
    display: flex;
    background-color: grey;
    border-radius: 30px;
    padding: 10px;
    justify-content: center;
    padding: 5px;
}

.navBar img {
    border-radius: 20%;
}

.navBar ul{
    display: flex;
    padding-left: .50%;
}

.navBar li {
    margin-right: 10px;
    list-style: none;
    margin-left: 0;
    
}

.title {
    display: flex;
    background-image: url(img/encourageCodeBlur.png);
    background-size: contain;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.title h1 {
    color: white;
}